*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}
/* .menu{
    height: 20px;
    width: 20px;
} */
.icon-menu{
    height: 15px;
    width: 15px;
}
.icon-menu:hover{
    background-color: rgb(216, 216, 216);
}
/* .profile{
    height: 35px;
    width: 35px;
} */
.profile-icon{
    height: 30px;
    width: 30px;
}
.logo{
    height: 120px;
    width: 380px;
}
header{
    width: 100%;
    height: 5vh;
}
header nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    align-items: center;
}
header nav a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin-right: 2rem;
}
header nav a:hover{
    text-decoration: underline;
}
header nav figure img{
    margin-right: 2rem;
}
main{
    width: 100%;
    height: 82vh; 
    align-items: center;
}
 main figure img{
    margin-top: 23vh;
    margin-left: 80vh;
    margin-right: 50vh;
} 
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}
section form input{
    width: 50rem;
    height: 3.8rem;
    margin-bottom: 2.5rem;
    border-radius: 1.1rem;
    border: 1px solid black;
}
section .botones button:hover{
    border:solid 1px rgb(52, 184, 255);
}
section .botones button{
    border-radius: 5px;
    border: none;
    margin-left: 3rem;
    height: 30px;
    width: 150px;
}
footer{
    display: flex;
    background-color: rgb(227, 227, 227);
    height: 10.7vh;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    
}

footer .footer-left ul{
    list-style: none;   
}
footer .footer-left ul li{
    display: inline;
    margin-left: 1rem;
}
footer .footer-left ul a{
    text-decoration: none;
    color: rgb(108, 108, 108);
}
footer .footer-left ul a:hover{
    text-decoration: underline;
}
footer .footer-right ul a:hover{
    text-decoration: underline;
}

footer .footer-right ul li{
    display: inline;
    margin-right: 1rem;
}
footer .footer-right ul{
    list-style: none;   
}
footer .footer-right ul a{
    text-decoration: none;
    color: rgb(108, 108, 108);
}