body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
header{
    width: 100%;
    height: 60px;
}

header nav{
    display: flex;
    justify-content: flex-end;
}
header nav .nav-righ-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav .nav-righ-section a{
    margin-right: 10px;
    color: #000000;
}
nav .nav-righ-section .menu-icon{
    background-image: url('https://cdn-icons-png.flaticon.com/512/162/162740.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
}
nav .nav-righ-section .profile-pic img{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-left: 10px;
}

main{
    margin-top: 40px;
    text-align: center;
}
main .main-logo{
    width: 550px;
    margin: 0 auto;
    margin-bottom: 35px;

}
main .main-logo img{
    width: 400;
    height: 200px;
}
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-input .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input .main-input-container input{
    border: none;
    width: 450px;
    height: 40px;
    outline: none;
}
main .main-input .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input .main-input-container .search-icon{
    background-image: url('https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}
main .main-input .main-input-container .micro-icon{
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
main .main-buttons{
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div{
    display: inline-block;
}
main .main-buttons button{
    height: 36px;
    background-color: #f2f2f2;
    border: none;
    font-size: 14px;
    color: #5f6368;
    padding: 0 15px;
    border-radius: 10px;
    margin-right: 15px;
}
main .main-buttons button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #000001;
    color: black;
}
footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4 ;
}
footer ul{
    list-style: none;
    margin: 10px;
    display: flex;
    padding-left: 0;
   
}
footer .footer-left{
    justify-content: left;
}
footer .footer-right{
    justify-content: right;
}
footer ul li a{
    color: #5f6368;
    margin: 10px;
}